body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* use w Monet */
    background-color: #e5c7fa;
    /* background-color: #d7f2f8; */
    /* background-color: rgb(189, 219, 246); */
  }
  
  .card {
    width: 340px;
    height: 545px;
    border-radius: 8px;
    /* allows for border radius on banner image to match the card  */
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    background: #ffffff;
    text-align: center;
  }
  
  .card-header {
    position: relative;
  }
  
  .card-background {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  /* this code is if I dont do a hover image change */
  /* .profile-picture {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
1
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -95px;
    margin-bottom: 20px;
    overflow: hidden;
  } */
  
  .profile-picture-container {
    position: relative;
    width: 140px;
    height: 140px;
    object-fit: cover;
    left: 7.5%;
    bottom: 75px;
    margin-bottom: -145px;
  }
  
  .profile-picture, .profile-hover-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* transition: opacity 0.3s ease; */
    transition: opacity 0.3s, transform 1.5s; 
    border: 6px solid #ffffff;
  }
  
  .profile-hover-picture {
    opacity: 0;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(0deg) scale(1);
    /* transform: scale(1.25); */
  }
  
  .profile-picture-container:hover .profile-hover-picture {
    opacity: 1;
    transform: rotate(360deg) scale(1.5);
    /* border: 6px solid rgb(113, 180, 239); */
    /* use w Monet */
    border: 6px solid  blueviolet;
  }
  
  /* .profile-picture-container:hover .profile-picture {
    opacity: 0; 
  } */

  .card-body {
    padding: 50px;
    margin-top: 35px; 
  }

  h2 {
    font-weight: 500;
    font-size: 1.8em;
    /* use w Monet */
    color: blueviolet;
    /* color: rgb(14, 133, 237); */
  }
  
  /* consolidate on one line */
  .location, .interest {
    color: #bcc2cb;
    font-size: 0.9em;
    line-height: 24px;
    padding-top: -10px;
    /* margin-top: -3px; */
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

  .button {
    /* background-color: #ff4081; */
    color: white;
    border: none;
    font-size: 12px;
    padding: 12px 22px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .HoverToFindMe {
    background-color: #ff4081;
    color: white;
    border: none;
    font-size: 14px;
    padding: 12px 22px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .HoverToFindMe:hover {
    /* use w Monet */
    background-color: blueviolet;
    /* background-color: rgb(14, 133, 237); */
    transform: scale(1.25);
  }